node_modules

dist

tsconfig.tsbuildinfo

.eslintcache

# ignore all logs
*.log

.husky

.vscode

certs/*

config.txt

# ignore all .env files
.env*
!.env.sample
!.env.example

coverage

logs

age-key.txt

.github
